
  span::selection {
    background-color: #ff380683 !important;
  }
  .monaco-editor .cursors-layer .cursor {
  /* background: #12c2e9;
  background: -webkit-linear-gradient(to top, #f64f59, #c471ed, #12c2e9);
  background: linear-gradient(to top, #f64f59, #c471ed, #12c2e9); */
  background: #ff3806;
  box-shadow: #ff932e 0px 0px 10px; 
  transition: 150ms;
}

.monaco-workbench .part.sidebar {
  border-radius: 10px;
  margin-right: 10px;
}

.split-view-view.visible .part.sidebar {
  background: rgb(22 22 22 / 36%) !important;
}
/* tab */ 
.monaco-workbench .part.editor>.content .editor-group-container>.title .tabs-container>.tab.sizing-fit {
  border-radius: 5px;
}

.monaco-workbench .part.editor>.content .editor-group-container>.title .tabs-container>.tab.sizing-fit .active {
  background: rgba(56, 56, 56, 0.36); 
}

.terminal {
  padding-left: 20px;
  padding-bottom: 20px;
  opacity: 1;
  transition: 900ms ease-in-out;
}

.monaco-workbench .part.basepanel>.composite.title>.panel-switcher-container>.monaco-action-bar .action-item.checked .action-label {
  color: #fff !important;
  text-shadow: 0px 0px 5px #ff3806 !important;
}

.terminal:not(.focus) {
  position: relative;
  border-color: transparent;
  box-shadow: none;
  opacity: 0.2;
}

.codicon-chrome-close:before:hover {
  content: '\eab8';
  transition: 900ms;
}

/* SAVE BADGE FILES ICON LINKS BOVEN */
.monaco-workbench .activitybar>.content :not(.monaco-menu)>.monaco-action-bar .badge .badge-content {
  position: absolute;
  top: 24px;
  right: 8px;
  font-size: 9px;
  font-weight: 600;
  min-width: 8px;
  height: 16px;
  line-height: 16px;
  padding: 0 4px;
  border-radius: 20px;
  text-align: center;
  background-color: #ff3806 !important;
  box-shadow: 0px 0px 5px #ff0e06 !important;
}

.monaco-workbench .part.editor>.content .editor-group-container.active>.title .tabs-container>.tab.dirty>.tab-actions .action-label:not(:hover):before, .monaco-workbench .part.editor>.content .editor-group-container>.title .tabs-container>.tab.dirty>.tab-actions .action-label:not(:hover):before {
  border-radius: 200px;
  color: '#fff';
  animation: badgeGlow 1s infinite alternate;
}

@keyframes badgeGlow {
  0% {text-shadow: 0px 0px 5px #ff5506;}
  100% {text-shadow: 0px 0px 8px #ff5506;}
}

.monaco-workbench .part.titlebar>.window-controls-container>.window-icon.window-close:hover {
  box-shadow: #ff5506 0px 0px 7px;
  transition: 900ms;
}

.window-appicon {
  position: relative;
  animation: logoAnimation 20s linear infinite;
  filter: drop-shadow(0px 0px 4px rgb(0, 183, 255)) invert(100%);
  z-index: 999 !important;
}

/* ENTER GLOW FUNCTIE */
/* .monaco-workbench .activitybar>.content::before {
  content: '';
  position: absolute;
  top: 80vh;
  left: 44%;
  height: 5px;
  width: 5px;
  background: #ff5506;
  border-radius: 100px;
} */

@keyframes logoAnimation {
  0% {transform: rotate(0deg);}
  100% {transform: rotate(360deg);}
}

/* DOCUMENT LINE */
.monaco-editor .line-numbers.active-line-number {
  color: #fff !important;
  text-shadow: 0px 0px 5px #ff3806;
}

/* CTRL F ZOEKEN */

.monaco-editor .find-widget {
  transition: 600ms;
  background: #0000002e !important;
  box-shadow: none !important;
  
}
.monaco-editor .find-widget.visible {
  border-radius: 5px;
  margin-top: 20px;
}

.monaco-editor .find-widget .monaco-inputbox.synthetic-focus {
  outline-color: #ff3806 !important;
}

/* Searchbox */
.quick-input-widget {
  transition: 600ms;
  background: #181818e3 !important;
  border-radius: 5px;
}